

--- 

sumo_config_path: "../manhattan/data/manhattan.sumocfg"

seed: 42

use_gui: false

vehicle_type_probabilities:
  UnconnectedVehicle: 0.
  ConnectedVehicle: 0.
  PoTVehicle: 1.
  SilenceAttacker: 0.
  SpamAttacker: 0.
  ReplayAttacker: 0.
  #SignalJammingAttacker: 0.
  SybilAttacker: 0.


position_manager:
  range_limit: 600 # meters

network_simulator:
  v2v_pdr: 0.95

perception_simulator:
  vision_distance: 200 # meters
  vision_angle: 60 # degrees (of one side)

vehicle:
  eid_changing_possibility: 0.0001
